<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Личный кабинет</title>
</head>
<body>
    <div class="container">
        <h1>Аутентификация</h1>
        <form method="post" action="/login">
            <input type="text" name="username">
            <input type="password" name="password">
            <input type="submit" value="Войти">
        </form>
    </div>

<style type="text/css">
body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: red;
}
</style>
</body>
</html>